.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}
.brand div {
    flex: 1;
    max-width: 150px;
    max-height: 120px;
    margin: 0.7rem;
    display: flex;
    justify-content: center;

    align-items: center;
   
}
.brand div img {
    transition: 0.3s;
    width: 100%;
}
.brand div:not(:first-child):hover img{
    margin-top: 10px;
}
.brand div:first-child:hover img{
    margin-left: -15px;
}
@media screen and (max-width: 992px) {
    .brand {
        max-width: 90%;
        margin: 0 auto;
    }
}

