.whatgpt3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.whatGpt3-features {
  display: flex;
}

.whatGpt3-features-container-feature {
  margin: 0;
}
.whatGpt3-features-container-feature-text {
  min-width: 700px;
}
.whatGpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
  width: 50%;
}
.whatGpt3-heading h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  /* min-width: 510px; */
  font-family: var(--font-family);
  width: 100%;
}
.whatGpt3-heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--font-family);
  color: var(--color-subtext);
  cursor: pointer;
transition: 0.3s all ease;
  position: absolute;
  right: 23px;
}
.whatGpt3-heading p:hover {
  color: #fff;
}

.whatGpt3-features-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
.whatGpt3-container {
  display: flex;
  justify-content: space-between;
}
.whatGpt3-container div {
  flex-direction: column;
}
@media screen and (max-width: 650px) {
  .whatGpt3-features-container {
    max-width: 30%;
  }
  .whatGpt3-container {
  flex-direction: column;
}
.whatGpt3-heading {
  flex-direction: column;
}
.whatGpt3-heading p {
  position: inherit;
  right: 0;
  margin-top: 15px;
  text-align: left;

}
.whatGpt3-heading {
  width: 100%;
}
.whatGpt3-heading {
  align-items: flex-start;
}
}
@media screen and (max-width: 500px) {
  .features-container-feature {
    display: block;
  }
  .features-container-feature-title h1 {
    margin: 10px 0;
}
}
